@model User

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Add New User</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="İD"></label>
			<input asp-for="İD" class="form-control" />
			<span asp-validation-for="İD" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Displayname"></label>
			<input asp-for="Displayname" class="form-control" />
			<span asp-validation-for="Displayname" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Phone"></label>
			<input asp-for="Phone" class="form-control" />
			<span asp-validation-for="Phone" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Email"></label>
			<input asp-for="Email" class="form-control" />
			<span asp-validation-for="Email" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Userroles"></label>
			<select name="User roles" id="userroles">
				<option value="Guest">Guest</option>
				<option value="Admin">Admin</option>
				<option value="SuperAdmin">SuperAdmin</option>
			</select>
			
		</div>
		<div class="mb-3">
			<label asp-for="IsEnabled"></label>
			<input asp-for="IsEnabled" class="checkbox" />
			<span asp-validation-for="IsEnabled" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Save</button>
		<a asp-controller="User" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>
@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
